<div class="page-header">
  <h1>All of the Statuses</h1>
</div>

<%= link_to "Post a New Status",  new_status_path, class: "btn btn-info btn-sm" %>
<% @statuses.each do |status| %>
  <div class="status">
    <strong>Name</strong>
    <p><%= status.content %></p>
    <div class="meta">
      <%= link_to time_ago_in_words(status.created_at) + " ago", status %>
      <span class="admin">
        | <%= link_to "Edit", edit_status_path(status) %> |
        <%= link_to "Delete", status, method: :delete, data: { confirm: "Are you sure you want to delte this satus?"} %>
      </span>
    </div>
  </div>
<% end %>
