// Place all the styles related to the statuses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.status {
  border-bottom: solid 1px #CCC;
  p {
    margin: 4px 0;
  }
  .admin {
    display: none;
  }
  &.hover {
    background: #f4f4f4;
  }
  &.hover .admin {
    display: inline;
  }
}
